.container {
    display: flex;
    background: rgba(229, 84, 115, 0.10);


}

.title {
    width: 708px;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 32px;


}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    margin-bottom: 32px;

}

.btn {
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0px;






}

.image {
    width: 635px;
    height: 800px;
    padding-right: 240px;
    padding-top: 50px;
    margin-left: 97px;
}

.text {
    padding-left: 240px;
    padding-top: 197px;
}

.md {
    display: flex;
    background: rgba(229, 84, 115, 0.05);

}

.off {
    color: #E55473;
}

.hot {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
    /* padding-left: 423px; */
}

.des {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
    /* 166.667% */
}

.sign {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    margin: 0px;
    border: 0px;

}

.sd {
    text-align: center;
    padding-left: 300px;
    padding-top: 180px;
    margin-right: 215px;

}

.flo {
    width: 318px;
    height: 420px;
    flex-shrink: 0;
    padding-top: 100px;
    padding-right: 429px;
    padding-bottom: 100px;

}

section {
    margin-top: 130px;
}

/* instragram style*/

.bbb {
    text-align: center;


}

.ins {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;

}

.dee {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 625px;
    /* 166.667% */
}

.lll {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.a {
    margin-right: 24px;

}

.b {
    margin-right: 24px;
}

.c {
    margin-right: 24px;
}

.get {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}

.dolar {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
    /* 166.667% */
}

.email {
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    padding-left: 22px;
    margin-right: 16px;
}

.sub {
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    padding: 18px 31px;
    color: #FFF;
}

.kk {
    background-image: url('../Rectangle\ 9.png');
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    justify-content: center;
    margin-left: 200px;



}

.ww {
    padding-left: 270px;
}

.aa {
    padding-top: 100px;
}

.spn {
    color: #E55473;
}

.qq {
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-bottom: 24px;
}

.rr {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
    width: 625px;
    padding-left: 648px;
    /* 166.667% */
}

.sss {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tr {
    background-color: #111010;
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    
}

.ty{
    padding-top: 100px;
    
}